.App{
  display: flex;
  flex-direction: column;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Dog1 {
  height: 30vmin;
  margin: 20px ;
}
.Dog2 {
  height: 30vmin;
  margin: 20px ;}

  .Header{
    display: flex;

  }
