.pokemon {
    flex-basis: 20%;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}
.name {
    margin-top: .3rem;
}
.pokemonImage{
    height: 150px;
    max-height: 80%;
    margin-top: .5rem;
}
.pokemon:hover {
    background-color: #9d9999;
}