.body {
  width: 100vw;
  height: 100vh;
}
.insta-wrapper {
  width: 30%;
  height: 60%;
  margin-top:-15%; 
  margin-left:-15%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  border: .1rem solid black;
  border-radius: .5rem;
}

.insta-heading {
  font-family: cursive;
}

#input {
  padding: .3rem .5rem;
  font-size: 1rem;
  margin: .5rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem ;
}

#sign {
  color: rgb(65, 192, 242);
  cursor: pointer;
}